{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>
    Drivers
    <form action="{% url 'taxi:car-assign-or-delete-current-driver' %}" method="post" class="link-to-page">
      {% csrf_token %}
      <input type="number" name="car_id" id="car_id" value="{{ car.id }}" hidden>
      {% if user not in car.drivers.all %}
        <input type="submit" value="Assign me to this car" class="btn btn-success">
      {% else %}
        <input type="submit" value="Delete me from this car" class="btn btn-danger">
      {% endif %}
    </form>

  </h1>
  <hr>
  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ driver.username }} ({{ driver.first_name }} {{ driver.last_name }})</li>
    {% endfor %}
  </ul>

  <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger">
    Delete
  </a>

  <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary">
    Update
  </a>
{% endblock %}
